<!-- side bar main wrapper -->
<div class="side-nav-bar" [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav | async) }">

    <!-- overlay -->
    <!-- <div class="side-nav-bar-overlay" 
        [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }" 
        [ngClass]="{ 'side-nav-bar-overlay-collapsed': !(showSideNav | async) }" 
        (click)="onSidebarClose()"></div>-->

    <div class="side-nav-bar-overlay" [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }" [ngClass]="{ 'side-nav-bar-overlay-collapsed': !(showSideNav | async) }"></div>

    <!-- side bar-->
    <div class="side-nav-bar-menu-container" [ngStyle]="getSideNavBarStyle((showSideNav | async))">

        <div class="side-nav-bar-header-container">
            <!-- side bar header -->
            <ng-container *ngTemplateOutlet="sidenavHeaderRef"></ng-container>
            <!-- close button -->
            <span class="material-icons side-nav-bar-close" (click)="onSidebarClose()">clear</span>
        </div>

        <!-- side bar content -->
        <div class="side-nav-bar-content-container">
            <ng-container *ngTemplateOutlet="sidenavTemplateRef"></ng-container>
        </div>

        <!-- side bar Footer -->
        <ng-container *ngTemplateOutlet="sidenavFooterRef"></ng-container>
    </div>
</div>